
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BackOffice.cshtml";
}


<!-- /top navigation -->
<!-- page content -->
<div class="right_col" role="main">
    <!-- content -->
    <h1> test</h1>
</div>
