
@{
    ViewBag.Title = "index1";
}


<!-- HOME -->
<section id="home" class="padbot0">

    <!-- TOP SLIDER -->
    <div class="flexslider top_slider">
        <ul class="slides">
            <li class="slide1">

                <!-- CONTAINER -->
                <div class="container">
                    <div class="flex_caption1">
                        <p class="title1 captionDelay2 FromTop">mega sell</p>
                        <p class="title2 captionDelay3 FromTop">last week of sales</p>
                    </div>
                    <a class="flex_caption2" href="javascript:void(0);"><div class="middle">sale<span>shop</span>now</div></a>
                    <!-- <div class="flex_caption3 slide_banner_wrapper">
                        <a class="slide_banner slide1_banner1 captionDelay4 FromBottom" href="javascript:void(0);" ><img src="images/slider/eq1.jpg" alt="" /></a>
                        <a class="slide_banner slide1_banner2 captionDelay5 FromBottom" href="javascript:void(0);" ><img src="images/slider/eq2.jpg" alt="" /></a>
                        <a class="slide_banner slide1_banner3 captionDelay6 FromBottom" href="javascript:void(0);" ><img src="images/slider/eq3.jpg" alt="" /></a>
                    </div> -->
                </div><!-- //CONTAINER -->
            </li>

            <li class="slide2">

                <!-- CONTAINER -->
                <div class="container">
                    <div class="flex_caption1">
                        <p class="title1 captionDelay2 FromTop">mega sell</p>
                        <p class="title2 captionDelay3 FromTop">last week of sales</p>
                    </div>
                    <a class="flex_caption2" href="javascript:void(0);"><div class="middle">sale<span>shop</span>now</div></a>
                    <!-- <div class="flex_caption3 slide_banner_wrapper"> -->
                    <!-- <a class="slide_banner slide1_banner1 captionDelay4 FromBottom" href="javascript:void(0);" ><img src="images/slider/slide1_baner1.jpg" alt="" /></a> -->
                    <!-- <a class="slide_banner slide1_banner3 captionDelay5 FromBottom" href="javascript:void(0);" ><img src="images/slider/slide1_baner3.jpg" alt="" /></a> -->
                    <!-- <a class="slide_banner slide1_banner2 captionDelay6 FromBottom" href="javascript:void(0);" ><img src="images/slider/slide1_baner2.jpg" alt="" /></a> -->
                    <!-- </div> -->
                </div><!-- //CONTAINER -->
            </li>

            <li class="slide3">

                <!-- CONTAINER -->
                <div class="container">
                    <div class="flex_caption1">
                        <p class="title1 captionDelay2 FromTop">mega sell</p>
                        <p class="title2 captionDelay3 FromTop">last week of sales</p>
                    </div>
                    <a class="flex_caption2" href="javascript:void(0);"><div class="middle">sale<span>shop</span>now</div></a>
                    <!-- <div class="flex_caption3 slide_banner_wrapper">
                        <a class="slide_banner slide1_banner3 captionDelay4 FromBottom" href="javascript:void(0);" ><img src="images/slider/slide1_baner3.jpg" alt="" /></a>
                        <a class="slide_banner slide1_banner1 captionDelay5 FromBottom" href="javascript:void(0);" ><img src="images/slider/slide1_baner1.jpg" alt="" /></a>
                        <a class="slide_banner slide1_banner2 captionDelay6 FromBottom" href="javascript:void(0);" ><img src="images/slider/slide1_baner2.jpg" alt="" /></a>
                    </div> -->
                </div><!-- //CONTAINER -->
            </li>
        </ul>
    </div><!-- //TOP SLIDER -->
</section><!-- //HOME -->
<!-- TOVAR SECTION -->
<section class="tovar_section">

    <!-- CONTAINER -->
    <div class="container">


        <section class="banners_block padbot40">

            <!-- CONTAINER -->
            <div class="container">

                <div class="title center">
                    <h1>WHAT'S NEW AT <span style="color: #0ab4e6;">SKI WORLD </span> </h1>
                </div>


                <!-- ROW -->
                <div class="row">
                    <div class="top_sale_banners center padbot30">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-ss-12"><a class="banner nobord margbot30" href="javascript:void(0);"><img src="~/Content/images/slider/k7.jpg" alt="" /></a></div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-ss-12"><a class="banner nobord margbot30" href="javascript:void(0);"><img src="~/Content/images/slider/k8.jpg" alt="" /></a></div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-ss-12"><a class="banner nobord margbot30" href="javascript:void(0);"><img src="~/Content/images/slider/k9.jpg" alt="" /></a></div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-ss-12"><a class="banner nobord margbot30" href="javascript:void(0);"><img src="~/Content/images/slider/k10.jpg" alt="" /></a></div>
                    </div>
                </div><!-- //ROW -->
                <!-- ROW -->
                <div class="row">
                    <div class="top_sale_banners center padbot30">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-ss-12"><a class="banner nobord margbot30" href="javascript:void(0);"><img src="~/Content/images/slider/k1.jpg" alt="" /></a></div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-ss-12"><a class="banner nobord margbot30" href="javascript:void(0);"><img src="~/Content/images/slider/k2.jpg" alt="" /></a></div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-ss-12"><a class="banner nobord margbot30" href="javascript:void(0);"><img src="~/Content/images/slider/k3.jpg" alt="" /></a></div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-ss-12"><a class="banner nobord margbot30" href="javascript:void(0);"><img src="~/Content/images/slider/k4.jpg" alt="" /></a></div>
                    </div>
                </div><!-- //ROW -->
            </div><!-- //CONTAINER -->
        </section><!-- //BANNERS BLOCK -->




    </div><!-- //CONTAINER -->
</section><!-- //TOVAR SECTION -->






<hr class="container">


<!-- SERVICES SECTION -->
<section class="services_section">

    <!-- CONTAINER -->
    <div class="container">

        <!-- ROW -->
        <div class="row">
            <div class="col-lg-6 col-md-6 padbot60 services_section_description" data-appear-top-offset='-100' data-animated='fadeInLeft'>
                <p>
                    There’s a world of snow out there…
                    Discover it with the Ski World
                </p>
                <span>
                    If you love snowsports, a Ski Club membership card is your essential piece of kit.

                    Whether it’s saving money on holidays, equipment, clothing and more, getting the best advice on everything to do with snowsports, or skiing with us in some of the world’s finest resorts, membership of the Ski Club opens the door to a world of benefits that will help you enjoy your time on the snow more than ever before.

                    Find out more about Ski Club membership

                    We will be adding more features, functionality and content to our new website over the coming months - so keep checking back and watch this space!
                </span>
            </div>

            <div class="col-lg-6 col-md-6 padbot30" data-appear-top-offset='-100' data-animated='fadeInRight'>

                <!-- ROW -->
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6 col-ss-12 padbot30">
                        <div class="service_item">
                            <div class="clearfix"><i class="fa fa-tablet"></i><p>Up to 80% Off</p></div>
                            <span>
                                Select Ski Boots*
                                Huge savings on past season ski boots
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6 col-ss-12 padbot30">
                        <div class="service_item">
                            <div class="clearfix"><i class="fa fa-comments-o"></i><p>Up to 80% off Past Season Outerwear</p></div>
                            <span>
                                Shells, Insulated Jackets, Bottoms and more
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6 col-ss-12 padbot30">
                        <div class="service_item">
                            <div class="clearfix"><i class="fa fa-eye"></i><p>Find the Perfect Gift</p></div>
                            <span>Holiday Gift Guide</span>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6 col-ss-12 padbot30">
                        <div class="service_item">
                            <div class="clearfix"><i class="fa fa-cogs"></i><p>2018 SKIS</p></div>
                            <span>Whether you’re heading into the backcountry for some epic powder runs, or carving down the front face of the mountain we’ve got skis for every adventure.</span>
                        </div>
                    </div>
                </div><!-- //ROW -->
            </div>
        </div><!-- //ROW -->
    </div><!-- //CONTAINER -->
</section><!-- //SERVICES SECTION -->


<hr class="container">


<!-- RECENT POSTS -->
<section class="recent_posts padbot40">

    <!-- CONTAINER -->
    <div class="container">
        <h2>New blog posts</h2>

        <!-- ROW -->
        <div class="row" data-appear-top-offset='-100' data-animated='fadeInUp'>
            <div class="col-lg-6 col-md-6 padbot30">
                <div class="recent_post_item clearfix">
                    <div class="recent_post_date">15<span>oct</span></div>
                    <a class="recent_post_img" href="blog-post.html"><img src="~/Content/images/blog/bl1.jpg" alt="" /></a>
                    <a class="recent_post_title" href="blog-post.html">Cross Country Ski Gear Shopping Tips</a>
                    <div class="recent_post_content">Skis.com stocks a great amount of cross country ski gear so how do you easily shop all this stuff? Easy, we made it real easy to shop this gear by adding a few different sections and refinements in those sections to narrow down to exactly what you are looking for. On the left side of this page you will first see some additional cross country ski categories underneath cross country ski gear. Here you can choose to shop only xc skis, boots, bindings, poles or roller skis.</div>
                    <ul class="post_meta">
                        <li><i class="fa fa-comments"></i>Commetcs <span class="sep">|</span> 15</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 padbot30">
                <div class="recent_post_item clearfix">
                    <div class="recent_post_date">07<span>dec</span></div>
                    <a class="recent_post_img" href="blog-post.html"><img src="~/Content/images/blog/bl2.jpg" alt="" /></a>
                    <a class="recent_post_title" href="blog-post.html">True Story: Shopping Ski Gear by Intended Use</a>
                    <div class="recent_post_content">There are many different styles of cross country ski gear which is intended for different types of cross country skiing. Use the “intended use” box on the left side of the page to narrow down the equipment to only show backcountry, skate, touring or combination cross country ski gear.</div>
                    <ul class="post_meta">
                        <li><i class="fa fa-comments"></i>Commetcs <span class="sep">|</span> 15</li>
                    </ul>
                </div>
            </div>
        </div><!-- //ROW -->
    </div><!-- //CONTAINER -->
</section><!-- //RECENT POSTS -->
