
@{
    Layout = null;
}

@if (ViewBag.Code == 0)
{
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Success </strong>@ViewBag.Message
    </div>
}
else
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Success </strong>@ViewBag.Message
    </div>
}